body {
  font-family: Arial, sans-serif;
  background-color: #000000 !important;
  margin: 0;
  padding: 2% 10%;
  color: white !important;
  justify-content: center !important;
  justify-items: center !important;
  /* justify-self: center; */
}

h1 {
  font-family: "Playwrite AU SA", serif;
  font-size: 3rem;
  text-align: center;
  color: rgb(252, 221, 221);
}

h2 {
  font-family: "Playwrite AU SA", serif;
  font-size: 1rem !important;
  color: #d47070 !important;
  font-weight: normal;
  background-color: #fff;
  padding: 10px;
  width: 100%;
  align-self: center !important;
}

h3 {
  font-size: 1.2rem !important;
}

input,
textarea {
  padding: 12px;
  background-color: #0057b3bb;
  border: 2px solid #b9dbf8;
  border-radius: 5px !important;
  margin: 10px;
  width: 80%;
  min-width: 180px;
  font-size: 1rem;
  font-family: serif;
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #d59898;
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Playwrite AU SA", serif;
}

button:hover {
  background-color: #d47070;
  transform: scale(1.05);
}

button:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(0, 87, 179, 0.5);
}

label {
  font-family: "Playwrite AU SA", serif;
  font-size: smaller;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
  z-index: -1;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}

.collage-container {
  width: 100%; /* Ensure it fills the container's width */
}

.collage-item {
  background-color: rgb(251, 249, 248);  
  border-radius: 10px !important; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for each item */
  overflow: hidden; /* Prevent content from overflowing */
  justify-content: center !important;
  align-items: center !important;
  padding: 3% 7%;
  margin: 50px;
}

.wish-photo {
  max-width: 400px; /* Limit the size of the image */
  height: auto;
  border-radius: 5px; /* Rounded corners for images */
  margin-left: 20px; /* Space between text and image */
}

.wish-name {
  font-style: italic;
  /* float: right; */
  color: #555; /* Darker text for the name */
  margin-top: 10px;
}

.wish-text {
  font-size: 1rem;
  color: #333; /* Darker text color for wish */
  margin-bottom: 10px;
  text-align: center; /* Center-align text */
}

.form-container {
  background-color: white;
  color: black;
  width: 100%;
  min-width: 400px;
  border-radius: 40px;
  padding: 40px;
}

/* Add fade in/out CSS */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
