body {
  font-family: Arial, sans-serif;
  background-color: #b9dbf8;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playwrite AU SA", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Playwrite AU SA", serif;
  font-size: 3rem;
  color: burlywood;
  font-weight: lighter;
  background-color: white;
}

input {
  padding: 10px;
  background-color: #0057b366;
  border-color: #b9dbf8;
  border-style: none;
  margin: 10px;
  width: 400px;
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d59898;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button :hover, :active{
  color: #9789ef;
} */

button:hover {
  background-color: #0056b3;
}